@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @foreach (var camera in Model.Cameras)
    {
        <div class="col g-1">
            <div class="card p-2" style="width: @(camera.Image.Width)px">
                <h4 class="card-title">
                    @(camera.Road != null && camera.Location != null
                        ? $"{camera.Road} {camera.Location}"
                        : camera.Title)
                </h4>

                @if (camera.MM is not null)
                {
                    <h6 class="text-muted card-subtitle">MM @camera.MM</h6>
                }
                <a href="#" data-bs-toggle="modal" data-bs-target="#videoModal" data-bs-title="@camera.Road @camera.Location @camera.Title" data-bs-video-url="@(camera.Video.URL)">
                    <img src="@camera.Image.URL" width="@(camera.Image.Width)px" height="@(camera.Image.Height)px" alt="camera image of @camera.Road @camera.Location @camera.Title" class="card-img-bottom rounded" loading="lazy" />
                </a>
            </div>
        </div>
    }
</div>

<div class="modal fade" tabindex="-1" id="videoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @if (Model.TDOTAPI != null)
    {
        @:console.log(@Model.TDOTAPI.ToString());
    }
</script>
<script src="~/js/modal.js" type="text/javascript" asp-append-version="true"></script>
<script type="text/javascript">
    var videoModal = document.getElementById('videoModal');
    videoModal.addEventListener('show.bs.modal', ShowModal);
    videoModal.addEventListener('hide.bs.modal', HideModal);
</script>